@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

p {
  font-family: "Inter", sans-serif;
}

:root {
  --orangeText: linear-gradient(90deg, #f83600 0%, #f9d423 100%);
  --blueText: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  --purpleText: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
  --greenText: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
}

/* Navbar styles */

header {
  position: fixed;
  top: -10% ;
  left: 25%;
  margin: 10px auto;
  z-index: 100;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: top 1.4s ease-in-out;
  border: #f0f0f0 2px solid;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.7);
  
}

#button_header {
  font-size: 1rem !important;
}

.navbar-hidden {
  transform: translateY(-120%) !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  width: 100%;
  height: fit-content;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 4rem;
  margin-left: auto;
}

ul li {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;

}

@media screen and (max-width: 768px) {
  ul {
    display: none;
  }

  header {
    padding: 0;
    background: transparent;
    width: 30%;
    left: 36%;
  }

  nav {
    justify-content: center;
    background: transparent;
    padding: 0.4rem 0rem;
  }

  nav div {
    display: none;
  }
}

/* Hero styles */
#Hero {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title_container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
}

.title {
  opacity: 0;
}

.subtitle_container {
  position: relative;
  overflow: hidden;
  height: 3rem;
}

.subtitle {
  opacity: 0;
}

.orange {
  background: linear-gradient(
    149deg,
    #f9cb23d8 30.69%,
    rgba(255, 78, 80, 0.7) 69.42%
  );
  animation: liquid 6s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .orange,
  .blue,
  .purple {
    width: 300px !important;
    height: 300px !important;
  }

  .orange {
    bottom: 0 !important;
    left: 0 !important;
  }

  .blue {
    top: 0 !important;
    left: 0 !important;
  }

  .purple {
    bottom: 40% !important;
    right: 0 !important;
  }
}

.blue {
  background: linear-gradient(
    90deg,
    rgba(79, 172, 254, 0.702) 0%,
    rgba(0, 242, 254, 0.7) 100%
  );
  animation: liquid 6s ease-in-out infinite;
}

.purple {
  background: linear-gradient(
    90deg,
    rgba(196, 112, 245, 0.702) 0%,
    rgba(250, 113, 205, 0.7) 100%
  );
  animation: liquid 6s ease-in-out infinite;
}

@keyframes liquid {
  0%,
  100% {
    border-radius: 50%;
    transform: translate(0, 0) scale(1);
  }
  25% {
    border-radius: 60% 40% 40% 60% / 60% 60% 40% 40%;
    transform: translate(5px, -5px) scale(1.1);
  }
  50% {
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
    transform: translate(-5px, 5px) scale(0.9);
  }
  75% {
    border-radius: 60% 40% 40% 60% / 40% 60% 60% 40%;
    transform: translate(5px, 5px) scale(1.05);
  }
}

@media screen and (min-width: 768px){
  .orange, .blue, .purple {
    display: none;
  }
  
}

@media screen and (max-width: 768px) {
  .title.hero {
    font-size: 64px;
    letter-spacing: -5px;
  }

  .subtitle {
    padding: 0 1rem;
    font-size: 22px;
    letter-spacing: -1px;
  }

  .subtitle_container {
    height: 4.2rem;
  }

}
/* Hook Section */

#Hook {
  width: 100%;
  height: 120vh;
  padding: 6rem 0;
  background-color: #fff;
  position: relative;
}

.title_container_hook {
  padding: 0.2rem;
  padding-top: 0.5rem;
  position: relative;
  z-index: 2;
}

.description {
  position: absolute;
  padding: 1rem;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 103.622%; /* 49.739px */
  letter-spacing: -1.36px;
  color: #555555;
}

.left {
  left: 6rem;
  bottom: 25%;
  z-index: 1;
}

.right {
  right: 6rem;
  z-index: 1;
  bottom: 15%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80% !important;
  height: 80% !important;
  z-index: 0;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
}

@media screen and (max-width: 768px) {
  #Hook {
    padding: 4rem 0;
    height: 100vh;
    padding-bottom: 0px;
  }
  .title_hook {
    font-size: 42px;
    letter-spacing: -1.36px;
  }

  .title_container_hook {
    padding-top: 0rem;
  }

  .description {
    font-size: 22px;
    letter-spacing: -1.36px;
  }

  .left {
    left: 0px;
    bottom: 40%;
  }

  .right {
    right: 0px;
    bottom: 10%;
  }

  canvas {
    margin-top: 50px;
    height: 100vh !important;
    width: 100vw !important;
  }
}

@media screen and (min-width: 1440px) {

  .left {
    left: 10rem;
  }

  .right {
    right: 10rem;
  
  }
  
}
/* Features Section */

#Benefits {
  width: 100%;
  height: 100vh;
  padding: 6rem;
  background-color: #fff;
  position: relative;
}

.benefits_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  background: #f0f0f0;
  border-radius: 25px;
  width: 50vw;
  height: 80vh;
  padding: 2rem;
}

.container.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title_container_benefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
}

.title_card {
  padding: 10px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
}

.description_benefits {
  padding: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -1.36px;
  max-width: 600px;
}

.description_container_benefits {
  overflow: hidden;
  height: fit-content;
}

.image_cover {
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  #Benefits {
    padding: 1.5rem 0;
    height: 140vh;
    margin-bottom: 20px;
  }

  .title_container_benefits {
    max-height: 9rem;
  }

  .description_container_benefits {
    height: fit-content;
  }

  .benefits_container {
    flex-direction: column;
    gap: 1rem;
  }

  .container {
    width: 90vw;
    height: 100%;
    padding: 20px;
  }

  .info h1 {
    font-size: 44px;
    letter-spacing: -3.36px;
  }

  .info p {
    font-size: 22px;
    line-height: 30px;
  }

  .container.image {
    height: 70%;
  }

  .info-container-box {
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .title_card {
    font-size: 72px;
  }

  .description_benefits {
    font-size: 28px;
    max-width: 720px;
    line-height: 42px;
  }
  
}
/* Services Section */

#Services {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}

.services_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.services_title {
  position: relative;
  height: 5rem;
  overflow: hidden;
}

.services_container_text h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
  letter-spacing: -4.72px;
}

.purple_text_gradient {
  background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services_container_cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border-radius: 25px;
  padding: 2rem;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.services_title_container {
  position: relative;
  height: 3rem;
  overflow: hidden;
}

.services_container_card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
  width: 100%;
  height: 100%;
}

.services_container_cards h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 49.739px */
  letter-spacing: -3.36px;
}

.services_container_cards h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 49.739px */
  letter-spacing: -3.36px;
  color: #b2b2b2;
}
.services_container_cards p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -1.36px;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  #Services {
    padding: 14px;
    height: 185vh;
    padding-top: 70px;
  }

  .services_container_cards {
    flex-direction: column;
    gap: 3rem;
    padding: 25px;
    height: fit-content;
  }
  .services_title {
    height: 8rem;
  }

  .services_title_container {
    height: 3rem;
  }
  .services_container_text h1 {
    font-size: 56px;
    letter-spacing: -2px;
  }

  .services_container_cards h2 {
    font-size: 32px;
    letter-spacing: -2.36px;
  }


  .services_container_cards h1 {
    font-size: 38px;
    letter-spacing: -2.36px;
  }

}

@media screen and (min-width: 1440px) {
  #Services {
    padding: 6rem;
  }
  .services_container {
    gap: 3rem;
  }

  .services_container_text h1 {
    font-size: 86px;
    letter-spacing: -6.72px;
  }
  
  .services_container_cards {
    gap: 3rem;
  }

  .services_container_cards p {
    font-size: 24px;
  }

  .services_container_card_text {
    gap: 1.6rem;
    margin-top: 4rem;
  }
}

/* Second Hook */

#SecondHook {
  width: 100%;
  height: 100vh;
  padding: 6rem;
  background-color: #f0f0f0;
  position: relative;
  z-index: 0;
}

.second_hook_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.second_hook_container div h1 {
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 132.637px */
  letter-spacing: -3.96px;
  margin-top: 5rem;
}

.icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon_container p {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -2.36px;
}

@media screen and (max-width: 768px) {
  #SecondHook {
    padding: 20px;
  }

  #SecondHook .orange {
    width: 240px !important;
    height: 200px !important;
    top: 35% !important;
    left: 30% !important;
    right: 0 !important;
  }

  #SecondHook .purple {
    width: 240px !important;
    height: 200px !important;
    bottom: 10% !important;
    left: 10% !important;
    right: 0 !important;
  }

  .second_hook_container div h1 {
    font-size: 65px;
    letter-spacing: -5.36px;
    text-align: center;
    margin-top: 0;
  }

  .icon_container p {
    font-size: 22px;
    letter-spacing: -1.36px;
  }

  .icon_container svg {
    width: 55px;
    height: 60px;
  }
}

/* Contact Section */

#Contact {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: #f0f0f0;
  position: relative;
  z-index: 0;

}

.contact_video {
  width: 80vw;
  height: 90vh;
}

.contact_container {
  position: absolute;
  top: 15%;
  right: 30%;
  width: fit-content;
  height: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 25px;
  overflow: hidden;
}

.contact_card {
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-top: 8rem;
}

.contact_title {
  position: relative;
  height: 5rem;
  overflow: hidden;
  width: 100%;
}

.card_text_container h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
  padding: 3px 0;
}

input,
textarea {
  width: 100%;
  font-size: 36px;
}

.card_text_container p {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -2.36px;
}

.text_blue {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #Contact {
    padding: 14px;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact_container {
    height: 70%;
    width: 85vw;
    top: 13%;
    left: 8%;
  }

  .card_text_container {
    width: 100%;
    height: fit-content;
    margin-left: 0;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
  }

  .card_text_container h1 {
    font-size: 50px;
    letter-spacing: -5.36px;
    text-align: center;
    padding-right: 1rem;
  }

  .card_text_container p {
    font-size: 22px;
    letter-spacing: -1.36px;
    padding-right: 1rem;
  }

  .contact_title {
    height: 3.5rem;
  }

  .form_group {
    width: 100%;
  }

  input,
  textarea {
    font-size: 28px;
  }

  .contact_card {
    flex-direction: column;
    gap: 1rem;
    padding: 1px;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  .card_form_container {
    margin-left: 0;
    width: 100%;
  }

  .hook_end_container {
    margin-top: 10px !important;
  }

  .hook_end_container h1 {
    padding-top: 50px !important;
    font-size: 2.5rem !important;
  }

  label {
    font-size: 22px;
  }

  .contact_video {
    height: 100vh;
    width: 94vw;
  }
}

@media screen and (min-width: 1440px) {
  #Contact {
    padding: 4rem;
  } 

  .contact_card {
    padding: 2rem;
  display: block;

  }

  .card_form_container {
    width: 100%;
  }

  .card_text_container {
    margin-top: 0;
    height: fit-content;
    width: 100%;
  }

  .card_text_container h1 {
    font-size: 86px;
    letter-spacing: -6.72px;
    padding-right: 4px;
    width: 100%;
  }

  form {
    width: 100%;
  }
  .contact_title {
    height: 6rem;

  }

  input {
    width: 30rem;
    font-size: 24px;
  }

  textarea {
    width: 30rem;
    font-size: 24px;
  }
}
/* pricing section */

#Pricing {
  width: 100%;
  height: 120vh;
  padding: 4rem;
  position: relative;
  background: #fff;
}

.pricing_container_title {
  position: relative;
  height: 6rem;
  width: 100%;
  overflow: hidden;
}
.pricing_container_title h1 {
  width: 100%;
}

.pricing_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.pricing_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.pricing_title h1 {
  font-size: 86px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
  letter-spacing: -6.72px;
}

.pricing_title p {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -2.36px;
}

.pricing_group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.pricing_buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  gap: 2rem;
  width: 30%;
  height: 5rem;
  overflow: hidden;
}

.pricing_buttons button {
  mix-blend-mode: difference;
  position: relative;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  color: #fff;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 3;
}

.pricing_buttons .circlespan {
  position: absolute;
  left: var(--circlePosition);
  top: 50%;
  width: 150px;
  height: 105%;
  background: rgb(0, 0, 0);
  border-radius: 50px;
  z-index: 1;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
}

.pricing_buttons button:nth-child(1):hover ~ .circlespan {
  left: 14%;
}

.pricing_buttons button:nth-child(2):hover ~ .circlespan {
  left: 50%;
}

.pricing_buttons button:nth-child(3):hover ~ .circlespan {
  left: 86%;
}

.btn1 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #Pricing {
    padding: 2rem 1.5rem;
    height: fit-content;
    width: 100%;
  }

  .pricing_container_title {
    height: 9rem;
  }

  .pricing_title h1 {
    font-size: 65px;
    letter-spacing: -3.36px;
  }

  .pricing_title {
    width: 100%;
  }

  .pricing_title p {
    font-size: 22px;
    letter-spacing: -1.36px;
  }

  .pricing_group {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }

  .pricing_buttons {
    width: 100%;
    height: 4rem;
    overflow: visible;
  }

  .pricing_buttons button {
    font-size: 18px;
  }

  .pricing_buttons .circlespan {
    width: 110px;
  }

  .pricing_buttons {
    padding: 0 20px;
  }
}
/* Faq Section */

#Faq {
  width: 100%;
  height: 100vh;
  padding: 6rem;
  background-color: #f0f0f0;
  position: relative;
}

.faq_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.faq_text {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 99.478px */
  letter-spacing: -6.72px;
  min-width: max-content;
  width: 50vw;
}

.faq_text_container {
  position: relative;
  height: 6rem;
  overflow: hidden;
}

.text_orange {
  background: var(--orangeText);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq_questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 50vw;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #Faq {
    padding: 2rem 14px;
    height: fit-content;
  }

  .faq_container {
    flex-direction: column;
    gap: 3rem;
  }

  .faq_text {
    font-size: 65px;
    letter-spacing: -5.36px;
    min-width: auto;
    width: 100%;
  }

  .faq_text_container {
    height: 9rem;
    width: 100%;
    text-wrap: wrap;
  }

  .faq_questions {
    width: 100%;
  }

  .question h1 {
    font-size: 26px;
    font-weight: 500;
  }

  .answer p {
    font-size: 18px;
  }
}

/* Footer Section */

footer {
  width: 100%;
  height: 50vh;
  padding: 6rem;
  position: relative;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
}

.footer_container h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.left_container .terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  width: 30%;
  height: 100%;
}

.social_media {
  width: 100%;
}

.social_media .logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;
}

.social_media h2:nth-child(1) {
  font-weight: 600;
}

.contact_weblab_info h2:nth-child(2) {
  margin-top: 0.4rem;
}
.contact_weblab_info h2:nth-child(3) {
  margin-top: 0.4rem;
}

.contact_weblab_info h2:nth-child(1) {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 14px;
    height: fit-content;
  }

  .footer_container {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }

  .left_container {
    width: 100%;
  }

  .right_container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer_container h2 {
    font-size: 18px;
  }

  .left_container .terms {
    flex-direction: column;
    gap: 1rem;
  }

  .social_media .logos {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
  }

  .social_media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    margin-top: 2.5rem;
  }

  .contact_weblab_info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}
