@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}


:root {
  --orangeText: linear-gradient(90deg, #f83600 0%, #f9d423 100%);
  --blueText: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  --purpleText: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
  --greenText: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
}

/* Navbar styles */

header.navbar {
  position: fixed;
  top: 0 ;
  z-index: 40;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

header.navbar.scrolled {
  background-color: white; 
  border-bottom: 1px solid #f0f0f0;
}

#button_header {
  font-size: 1rem !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  width: 100%;
  height: fit-content;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 4rem;
  margin-left: auto;
  height: 100%;
}

ul li {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;

}

@media screen and (max-width: 768px) {
  ul {
    display: none;
  }

  header {
    padding: 0;
    background: transparent;
    width: 100%;
    left: 0%;
  }

  nav {
    justify-content: center;
    background: transparent;
    padding: 0.4rem 0rem;
  }

  nav div {
    display: none;
  }
}

/* Hero styles */
#Hero {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title_container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
}

.title {
  opacity: 0;
}

.subtitle_container {
  position: relative;
  overflow: hidden;
  height: 3rem;
}

.subtitle {
  opacity: 0;
}

.orange {
  background: linear-gradient(
    149deg,
    #f9cb23d8 30.69%,
    rgba(255, 78, 80, 0.7) 69.42%
  );
  animation: liquid 6s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .orange,
  .blue,
  .purple {
    width: 300px !important;
    height: 300px !important;
  }

  .orange {
    bottom: 0 !important;
    left: 0 !important;
  }

  .blue {
    top: 0 !important;
    left: 0 !important;
  }

  .purple {
    bottom: 40% !important;
    right: 0 !important;
  }
}

.blue {
  background: linear-gradient(
    90deg,
    rgba(79, 172, 254, 0.702) 0%,
    rgba(0, 242, 254, 0.7) 100%
  );
  animation: liquid 6s ease-in-out infinite;
}

.purple {
  background: linear-gradient(
    90deg,
    rgba(196, 112, 245, 0.702) 0%,
    rgba(250, 113, 205, 0.7) 100%
  );
  animation: liquid 6s ease-in-out infinite;
}

.services-description {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .title.hero {
    font-size: 48px;
    letter-spacing: -1px;
    height: fit-content;
  }


  .subtitle_container {
    height: 4.2rem;
  }

}
/* Hook Section */

#Hook {
  width: 100%;
  height: 120vh;
  padding: 6rem 0;
  background-color: #fff;
  position: relative;
}

.title_container_hook {
  padding: 0.2rem;
  padding-top: 0.5rem;
  position: relative;
  z-index: 2;
}

.description {
  position: absolute;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.left {
  left: 6rem;
  bottom: 40%;
  z-index: 1;
}

.right {
  right: 6rem;
  z-index: 1;
  bottom: 20%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80% !important;
  height: 80% !important;
  z-index: 0;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
}

@media screen and (max-width: 768px) {
  #Hook {
    padding: 4rem 0;
    padding-bottom: 0px;
  }
  .title_hook {
    letter-spacing: 0px;
  }

  .title_container_hook {
    padding-top: 0rem;
  }

  .description {
    font-size: 18px;
    line-height: 1.4rem;
  }

  .left {
    left: 0px;
    bottom: 50%;
  }

  .right {
    right: 0px;
    bottom: 25%;
  }

  canvas {
    margin-top: 50px;
    height: 150% !important;
    width: 160% !important;
  }
}

@media screen and (min-width: 1440px) {

  .left {
    left: 10rem;
  }

  .right {
    right: 10rem;
  
  }
  
}
/* Features Section */

#Benefits {
  width: 100%;
  height: 100%;
  padding: 8.5rem;
  background-color: #fff;
  position: relative;
}

.benefits_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  background: #f0f4f9;
  border-radius: 25px;
  width: 50dvw;
  height: 80vh;
  padding: 2rem;
}

.container.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title_container_benefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
}

.title_card {
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
}

.description_benefits {
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 600px;
}

.loading_bar {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  border-top-right-radius: 25px; 
  border-bottom-right-radius: 25px;
}

.description_container_benefits {
  overflow: hidden;
  height: fit-content;
}

.image_cover {
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  #Benefits {
    padding: 1.5rem 0;
    height: 100vh;
    margin-bottom: 20px;
  }

  .title_container_benefits {
    max-height: 7rem;
  }

  .description_container_benefits {
    height: fit-content;
  }

  .benefits_container {
    flex-direction: column;
    gap: 1rem;
  }

  .container {
    width: 90dvw;
    padding: 20px;
    height: fit-content;
  }

  .info h1 {
    font-size: 24px;
    letter-spacing: 0px;
  }

  .info p {
    font-size: 15px;
    line-height: 1.2rem;
  }

  .container.image {
    height: 70%;
  }

  .info-container-box {
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .title_card {
    font-size: 62px;
  }

  .description_benefits {
    font-size: 22px;
    max-width: 720px;
  }
  
}
/* Services Section */

#Services {
  width: 100%;
  height: 100%;
  background-color: #f0f4f9;
  position: relative;
}

.services_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.services_title {
  position: relative;
  height: 3.5rem;
  overflow: hidden;
}

.services_container_text h1 {
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
  letter-spacing: 0px;
  text-align: center;
}

.purple_text_gradient {
  background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services_container_cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border-radius: 25px;
  padding: 2rem;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.services_title_container {
  position: relative;
  height: 2rem;
  overflow: hidden;
}

.services_container_card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
  width: 100%;
  height: 100%;
}

.services_container_cards h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 49.739px */
}

.services_container_cards h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 49.739px */
  color: #b2b2b2;
}
.services_container_cards p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1.36px;
  max-width: 500px;
}

.swiper-slide {
  height: 100%;
}

@media screen and (max-width: 768px) {
  #Services {
    padding: 14px;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .services_container_cards {
    flex-direction: column;
    gap: 3rem;
    padding: 25px;
    height: fit-content;
  }
  .services_title {
    height: fit-content;
  }



  .services_container_cards h2 {
    font-size: 32px;
    letter-spacing: -2.36px;
  }


  .services_container_cards h1 {
    font-size: 38px;
    letter-spacing: -2.36px;
  }

}

@media screen and (min-width: 1440px) {
  #Services {
    padding: 6rem;
  }
  .services_container {
    gap: 2.5rem;
  }
  
  .services_container_cards {
    gap: 3rem;
  }

  .services_container_cards p {
    font-size: 22px;
  }

  .services_container_card_text {
    gap: 1.6rem;
    margin-top: 4rem;
  }
}

/* Process Section */

.text-scroll {
  opacity: 0.2;
}

/* Contact Section */
.card_text_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-top: 8rem;
}

.contact_title {
  position: relative;
  height: fit-content;
  overflow: hidden;
  width: 100%;
}

.card_text_container h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%;
  letter-spacing: -3px;
  text-align: center;
}

input,
textarea {
  width: 100%;
  font-size: 36px;
}

.card_text_container p {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

form {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .card_text_container {
    width: 100%;
    height: fit-content;
    margin-left: 0;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
  }

  .card_text_container h1 {
    font-size: 50px;
    letter-spacing: -5.36px;
    text-align: center;
    padding-right: 1rem;
  }

  .card_text_container p {
    font-size: 22px;
    letter-spacing: -1.36px;
    padding-right: 1rem;
  }

  .contact_title {
    height: 3.5rem;
  }

  .form_group {
    width: 100%;
  }

  input,
  textarea {
    font-size: 28px;
  }

  .contact_card {
    flex-direction: column;
    gap: 1rem;
    padding: 1px;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  .card_form_container {
    margin-left: 0;
    width: 100%;
  }

  .hook_end_container {
    margin-top: 10px !important;
  }

  .hook_end_container h1 {
    padding-top: 50px !important;
    font-size: 2.5rem !important;
  }

  label {
    font-size: 22px;
  }

  .contact_video {
    height: 100vh;
    width: 94vw;
  }
}

@media screen and (min-width: 1440px) {

  .card_text_container {
    margin-top: 0;
    height: fit-content;
    width: 100%;
  }

  .card_text_container h1 {
    font-size: 76px;
    letter-spacing: -3px;
    padding-right: 4px;
    width: 100%;
  }

  form {
    width: 100%;
  }
  
  input {
    width: 30rem;
    font-size: 24px;
  }

  textarea {
    width: 30rem;
    font-size: 24px;
  }
}

/* Process Section */
.shadow-box-weblabs {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.showcase_title {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgb(0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
/* Faq Section */

#Faq {
  width: 100%;
  height: 100vh;
  padding: 10rem;
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  position: relative;
}

.faq_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
  width: 100%;
  height: 100%;
}

.faq_text {
  font-size: 76px;
  font-style: normal;
  font-weight: 500;
  line-height: 103.622%; /* 99.478px */
  letter-spacing: -3px;
  min-width: max-content;
  width: 50%;
}

.faq_text_container {
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.text_orange {
  background: var(--orangeText);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq_questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 40%;
  height: 100%;
}

.card-box-showcase-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 768px) {
  #Faq {
    padding: 2rem 14px;
    height: fit-content;
  }

  .faq_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .faq_text {
    font-size: 36px;
    letter-spacing: 0px;
    min-width: auto;
    width: 100%;
    text-align: center;
  }

  .faq_text_container {
    height: 2rem;
    width: 100%;
    text-wrap: wrap;
  }

  .faq_questions {
    width: 100%;
  }

  .question h1 {
    font-size: 26px;
    font-weight: 500;
  }

  .answer p {
    font-size: 18px;
  }
}

/* Footer Section */

footer.footer-layout {
  width: 100%;
  height: 100%;
  padding: 4rem;
  position: relative;
}

.list-footer ul li{
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
}

.footer_container h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.left_container .terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  width: 30%;
  height: 100%;
}

.social_media {
  width: 100%;
}

.social_media .logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;
}

.social_media h2:nth-child(1) {
  font-weight: 600;
}

.contact_weblab_info h2:nth-child(2) {
  margin-top: 0.4rem;
  font-size: 16px;

}
.contact_weblab_info h2:nth-child(3) {
  margin-top: 0.4rem;
  font-size: 16px;
}

.contact_weblab_info h2:nth-child(1) {
  font-weight: 600;
}

.top-gradient.footer-grad {
  background: linear-gradient(180deg, #ffffff 0%, #fafafa00 100%);
}

@media screen and (max-width: 768px) {
  footer.footer-layout  {
    padding: 14px;
    height: fit-content;
  }

  .footer_container {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 1rem;
  }

  .left_container {
    width: 100%;
  }

  .right_container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
  }

  .footer_container h2 {
    font-size: 18px;
  }

  .left_container .terms {
    flex-direction: column;
    gap: 0.5rem;
  }

  .social_media .logos {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
  }

  .social_media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }

  .contact_weblab_info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.ai-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}